body{
    margin: 5px 360px;
    direction: ltr;
    background-color: #f0f5f5;
}

.top{
    background-image: linear-gradient(to right,rgb(239, 148, 202),rgb(171, 29, 121),rgb(171, 29, 121),rgb(78, 39, 128));
    height: 370px;
    width: 793.694px;
}

.name{
    font-family: Roboto;
    font-size: 85px;
    color: snow;
    font-weight: bolder;
    text-align: left;
    background: rgb(239, 148, 202);
    height: 200px;
    width: 480px;
    margin: -320px 50px;
}

.nametext{
    font-family: Roboto;
    font-size: 80px;
    color: snow;
    font-weight: bolder;
    text-align: left;
    margin-top: 120px;
    margin-left: 120px;  
}

.major{
    border: 3px solid snow;
    width: 300px;
    height: 40px;
    margin-left: 120px;
}

.majortext{
    font-family: sans-serif;
    letter-spacing: 8px;
    line-height: 20px;
    font-size: 13px;
    text-shadow: 2px 4px purple;
    color: snow;
    font-weight: bolder;
    text-align: left;
    margin: -30px 142px;
}

.age{
    font-family: Roboto;
    font-size: 15px;
    color: snow;
    font-weight: bolder;
    text-align: left;
    margin: -60px 470px;
    width: 40px;
}

.body{
    display: block;
    background-color: #EFEBE2;
    margin-top: 172px;
    height: 800px; 
    width: 793.694px;
}

.biography{
    line-height: 1.4;
    letter-spacing: 0.03em;
    font-family: &quot;
    font-size: 12.0457px;
    text-transform: none;
    color: rgb(39, 32, 48);
    width: 254.692px;
    height: 111.852px;
}  

div.biography{
    padding: 60px;
    
}

.biographyheader{
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.325em;
    text-transform: uppercase;
    color: rgb(42, 10, 94);
    text-decoration: none;
}

.biographytext{
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    color: rgb(39, 32, 48);
    text-decoration: none;
}    

.skills{
    line-height: 1.4;
    letter-spacing: 0.03em;
    font-family: &quot;
    font-size: 12.0457px;
    color: rgb(39, 32, 48);
    width: 254.692px;
    height: 111.852px;
}  

div.skills{
    padding: 0px 60px;
    margin-top: -40px
    
}

.skillsheader{
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.325em;
    text-transform: uppercase;
    color: rgb(42, 10, 94);
    text-decoration: none;
}

.skillstext{
    font-weight: 400;
    font-style: normal;
    color: rgb(171, 29, 121);
    text-decoration: none;

}    

.programminglanguages{
    line-height: 1.4;
    letter-spacing: 0.03em;
    --head-indent:1.7;
    font-family: &quot;
    font-size: 12px;
    text-transform: none;
    color: rgb(171, 29, 121);
    font-weight: 400;
    font-style: normal; 
    margin: -35px -20px;
    
}

.languages{
    line-height: 1.4;
    letter-spacing: 0.03em;
    --head-indent:1.7;
    font-family: &quot;
    font-size: 12px;
    text-transform: none;
    color: rgb(171, 29, 121);
    font-weight: 400;
    font-style: normal; 
    margin: 5px -20px; 
}

span.skillstext1{
    color: rgb(39, 32, 48);
    font-weight: 400;
    font-style: normal;
}

.informations{
    line-height: 1.4;
    letter-spacing: 0.03em;
    font-family: &quot;
    font-size: 12.0457px;
    color: rgb(39, 32, 48);
    width: 254.692px;
    height: 111.852px;
}  

div.informations{
    padding: 0px 60px;
    margin-top: 250px
    
}

.informationsheader{
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.325em;
    text-transform: uppercase;
    color: rgb(42, 10, 94);
    text-decoration: none;
}

.informationstext{
    font-weight: 400;
    font-style: normal;
    color: rgb(39, 32, 48);
    text-decoration: none;

}

.academic{
    line-height: 1.4;
    letter-spacing: 0.03em;
    font-family: &quot;
    font-size: 12.0457px;
    color: rgb(39, 32, 48);
    width: 254.692px;
    height: 111.852px;
}  

div.academic{
    padding-top: 0px; 
    padding-right: 60px;
    margin: -620px 500px;
    
}

.academicheader{
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.325em;
    text-transform: uppercase;
    color: rgb(42, 10, 94);
    text-decoration: none;
}

.academictext1{
    font-weight: 700;
    font-size: 15.0519px;
    font-style: normal;
    color: rgb(171, 29, 121);
    text-decoration: none;
}

.academictext{
    font-weight: 400;
    font-style: normal;
    color: rgb(171, 29, 121);
    text-decoration: none;
}

.employment{
    line-height: 1.4;
    letter-spacing: 0.03em;
    font-family: &quot;
    font-size: 12.0457px;
    text-transform: none;
    color: rgb(39, 32, 48);
    width: 254.692px;
    height: 111.852px;
}  

div.employment{
    padding: 700px  500px;
    
}

.employmentheader{
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.325em;
    text-transform: uppercase;
    color: rgb(42, 10, 94);
    text-decoration: none;
}

.employmenttext{
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    color: rgb(39, 32, 48);
    text-decoration: none;
}

span.text{
    font-family: B Nazanin;
    font-weight: bolder;
    font-size: 20px;
    color: snow;
    margin-left: -100px;
}


.persianlink{
    text-decoration: none;
}

.persianlink:hover{
    cursor: grab;
    font-weight: lighter;
}

#persianresume{
    text-align: right;
    background-color: #ab1d79;
    height: 37px; 
    width: 793.694px;
    position: relative;
    top: -38px;
}

#second{
    color: #4e2780;
    background-color: #4e2780;
    height: 37px; 
    width: 350px;
    position: relative;
    top: -75px; left: 405px;
}

#third{
    color: #ef94ca;
    background-color: #ef94ca;
    height: 37px; 
    width: 40px;
    position: relative;
    top: -112px; left: 755px;
}


















